.container {
  max-width: 1200px;
  margin: 20px auto;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

article {
  writing-mode: vertical-rl;
  font-family: serif;
  font-size: 110%;
  line-height: 1.5;
  letter-spacing: 2px;
  overflow: auto;
}

article h1 {
  display: inline-block;
  width: auto;
  margin: 0 10px;
  padding-bottom: 200px;
  padding-left: 5px;
  border-left: 1px solid rgba(83, 81, 81, 0.607);
}
